extends layout

block content
    ul.nav.nav-tabs
        li.active
            a(href='#home', data-toggle='tab', role='tab') Home
        li
            a(href='#users', data-toggle='tab', role='tab') Users
        li
            a(href='#admins', data-toggle='tab', role='tab') Admins

    .tab-content
        #home.tab-pane.active.
            Home
        #users.tab-pane.
            Users
        #admins.tab-pane
            .container-fluid
                .row
                    .col-xs-12.col-md-2
                        ul.nav.nav-pills.nav-stacked
                            li
                                a(href='#one', data-toggle='pill', role='tab') One
                            li
                                a(href='#two', data-toggle='pill', role='tab') Two
                            li
                                a(href='#three', data-toggle='pill', role='tab') Three
                    .col-xs-12.col-md-10
                        .tab-content
                            #one.tab-pane.dynamic
                                .panel
                                    .panel-body.dynamic-content
                            #two.tab-pane.dynamic.dynamic-content
                            #three.tab-pane Three
