@import "bootstrap-bare";
@import "bootstrap.scss";

.loading .dynamic-content,
.loading.dynamic-content{
  min-height: 50px;
  min-width: 50px;
  background-image: image-url("spinner-50.gif");
  background-position: center;
  background-repeat: no-repeat;
}
